* {
  box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #121212;
    color: rgb(252, 253, 254);
}

.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.messageArea{
    overflow-y: auto;
    flex-grow: 1;
    min-height: 0;
}

.contentContainer{
    width: 100%;
    max-width: 900px;
    font-size: 2.0rem;
    padding: 0 1em;
    margin: 0 auto;
}

header div {
    text-align: center;
}
.questionForm{
    display: flex;
    gap: 0.5rem;
}

input{
    flex-grow: 1;
    background-color: #2C2C2C;
    color: rgb(252, 253, 254);
}

button{
    background-color:royalblue;
    color: rgb(252, 253, 254);
}

input, button{
    margin-top: 1em;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 2rem;
}

.messageContainer{
display: flex;
flex-direction: column;
padding: 0.3em;
gap: 1rem;
}

.user{
    align-self: flex-end;
    max-width: 75%;
    background-color:royalblue;
    border-radius: 3rem;
}

.assistant{
    align-self: flex-start;
    max-width: 90%;
    background-color: #2C2C2C;
    border-radius: 1.5rem;
    
}

.user, .assistant{
    border: 0.1rem solid black;
    padding: 1em;
}

.user p,
.assistant p {
  margin: 0;
}

a{
    color: blanchedalmond;
}
a:hover, a:active{
    color: darkorchid;
}

a:focus-visible,
input:focus-visible,
button:focus-visible {
  outline: 0.2rem solid royalblue;
  outline-offset: 0.2rem;
}

.sourcedMsg{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.sourceList {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.source{
    border-radius: 1rem;
    padding: 0.5em;
    background-color: #1A1A1A;
    text-decoration: none;
}